#layout-builder.layout-builder {
  background: transparent !important;
  padding: 0;
}
#layout-builder .layout-builder-block {
  padding: 0;
}
#layout-builder .layout-builder__link--remove {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}
#layout-builder .layout-builder__add-section {
  margin-bottom: 0;
}
#layout-builder .layout-builder__add-block {
  margin: 1.5em 0;
}
#layout-builder .layout-builder-block__content-preview-placeholder-label {
background:#fff;
padding: 1.5em 0;
}
.form-type-vertical-tabs {
  margin: 1.5em;
}
.vertical-tabs__panes {
  background: #eee;
}
.block-core.block-local-tasks-block a,
.block-core.block-local-tasks-block a:hover,
.layout-builder-form #edit-actions input,
.layout-builder-form #edit-actions input:hover {
  color: #fff !important;
  text-transform: uppercase;
  width: auto !important;
  background: none !important;
  margin: 0 !important;
  padding: 0 15px !important;
  font-size: 13px !important;
  font-weight: bold !important;
  display: inline-block !important;
  height: auto !important;
  border-radius: 0 !important;
  letter-spacing: 0 !important;
  text-shadow: none !important;
  margin: 0 !important;
}
.layout-builder-form #edit-actions,
.layout-builder-form #edit-actions input {
  text-align: right;
}
.block-core.block-local-tasks-block,
.layout-builder-form #edit-actions {
  position: fixed;
  z-index: 9999;
  background: #222;
  color: #fff;
  width: auto;
  max-width: 700px;
  border-radius: 4px;
  box-shadow: 0 8px 17px rgba(0, 0, 0, .3);
  top: 10px;
  left: 10px;
  opacity: .2;
  padding: 10px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: Arial;
  font-weight: bold;
  transition: all ease .2s;
}
.layout-builder-form #edit-actions {
  right: 10px;
  left: auto;
}
.block-core.block-local-tasks-block .contextual {
  right: -40px;
}
.block-core.block-local-tasks-block:hover,
.layout-builder-form #edit-actions:hover {
  opacity: .8;
}
.block-core.block-local-tasks-block:hover ul.tabs>li a,
.layout-builder-form #edit-actions:hover input {
  opacity: .2;
}
.block-core.block-local-tasks-block:hover ul.tabs>li a:hover,
.layout-builder-form #edit-actions:hover input:hover {
  opacity: .8;
}
.block-core.block-local-tasks-block ul.tabs {
  margin: 0;
  padding: 0;
  z-index: 9999;
  position: relative;
}
.block-core.block-local-tasks-block ul.tabs>li {
  margin: 0;
  width: auto;
}
.block-core.block-local-tasks-block ul.tabs>li a {
  display: inline;
  background-color: transparent !important;
}
.layout-builder-form #edit-preview-toggle {
  display: block;
  width: auto;
  float: none;
  padding-right: 12px;
}
.layout-builder-form #edit-preview-toggle .form-item {
  margin: 0;
}
.layout-builder-form #edit-preview-toggle label {
  font-weight: bold;
}
#drupal-off-canvas {
  float: none;
  width: auto;
}
#drupal-off-canvas * {
  float: none;
}
.ccn-message-container {
  margin: auto;
  display: flex;
  outline: 0;
  padding: 20px;
  border-radius: 4px;
  justify-content: center;
  top: 4px;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  position: fixed;
  z-index: 99999;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all ease .15s;
  -moz-transition: all ease .15s;
  -o-transition: all ease .15s;
  transition: all ease .15s;
}
.ccn-message {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(50, 50, 50);
  flex-grow: initial;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  border: 0;
  padding: 6px 25px;
  animation: none;
  max-width: 500px;
  min-width: 288px;
  background-image: none;
  -webkit-transition: all ease .15s;
  -moz-transition: all ease .15s;
  -o-transition: all ease .15s;
  transition: all ease .15s;
}
.ccn-message-status {
  background-color: #43a047;
}
.ccn-message-content {
  width: calc(100% - 50px);
  line-height: 22px;
  padding: 8px 0;
}
.ccn-message-content a {
  color: #fff !important;
  border-bottom: 1px dotted rgba(255, 255, 255, .7);
}
.ccn-message-action {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: -8px;
  padding-left: 16px;
  width: 50px;
}
.ccn-message-action button {
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  position: relative;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
}
.ccn-message-action button:hover {
  background: rgba(255, 255, 255, .2);
}
.ccn-message-action button span {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
  color: #fff;
}
.ccn-message-action button span svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 20px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.ccn-message-dismissed {
  -webkit-animation: ccn-message-dismissed 0.15s 1;
  animation: ccn-message-dismissed 0.15s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 1;
  -webkit-transition: all ease .15s;
  -moz-transition: all ease .15s;
  -o-transition: all ease .15s;
  transition: all ease .15s;
}
@-webkit-keyframes ccn-message-dismissed {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
